extends layout

block content
  div#nine
    span#spanNine
      img(src='images/2170405_nine.svg', hight='45px', width='90')
      script.
        var count =  0;
        var max = 250;
        while (count < max) {
          var image = document.createElement('img')
          image.src = 'images/2170405_nine.svg';
          var mySpan = document.createElement('span');
          mySpan.setAttribute('id', 'span-' + count);
          image.setAttribute('id', 'image9-' + count);
          image.setAttribute('name', 1);
          image.setAttribute('style', 'display: inline;')
          mySpan.appendChild(image);
          document.getElementById('nine').appendChild(mySpan);
          var imageX = document.createElement('img')
          imageX.src = 'images/2170405_X_.svg';
          imageX.setAttribute('id', 'imageX-' + count);
          imageX.setAttribute('style', 'display: none;');
          mySpan.appendChild(imageX);
          document.getElementById('image9-' + count).onclick = function () {
            var image9 = this.parentNode.firstChild.id;
            $('#' + image9).hide();
            $('#' + image9).prop('name', 0);
            var imageX = this.parentNode.childNodes[1].id;
            $('#' + imageX).show();
          }
          document.getElementById('imageX-' + count).onclick = function () {
            var image9 = this.parentNode.firstChild.id;
            $('#' + image9).show();
            $('#' + image9).prop('name', 1);
            var imageX = this.parentNode.childNodes[1].id;
            $('#' + imageX).hide();
          }
          count++;
        }
        window.onload = function () {
        }
