extends layout

block content
  link(href='stylesheets/style.css', rel='stylesheet')
  div#main
    div#content
      row
        img(src="../images/CBM_logo.svg")#logo
      row
        h2(style="text-align: center;")#welcomeHeadline Willkommen zum Eignungstest
      row
        h4(style="text-align: center;")#welcomeText Bitte melden sie sich an oder registrieren sie sich. Der Test startet im Anschluss automatisch.

  include footer
