div.container
  row
    h1 Eignungstest

div.container
  row
    p=locals.user.gender + ' ' + locals.user.name
    p erreichte am *heute* im CBM-Eignungstest
  row
    p=locals.percentage + ' Prozent'
  - if (locals.percentage > 50)
    p und hat damit den Test bestanden.
  - else
    p und hat damit den Test nicht bestanden.

div.container
  row
    p Die erreichten Punkte setzen sich wie folgt zusammen:
    
div.container
  row
    p
      span='Gesamt' 

  - each entry in locals.categories
    p='In der Kategorie ' + entry.category + ' - ' + entry.points + ' von ' + entry.maxPoints + ' Punkten'
