extends layout

block content
  - if (pool != undefined)
    - each task in pool
      div.container
        div.row
          div.col-xs-12.col-sm-12.col-md-12
            p(id='question')=task.question
          - each answer in task.answers
            div.col-xs-12.col-sm-12.col-md-12
              button.btn.btn-default(id='answer')=answer
              div.col-xs-12.col-sm-12.col-md-12(style='padding-bottom: 10px')
        div.row
          div.col-xs-12.col-sm-12.col-md-12(style='padding-bottom: 25px')
