div.mastfoot {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#main {
  display: table;
  position: static;
  height: 50%;
  width: 100%;
  margin-top: 15%
}

#content {
  display: table-cell;
  vertical-align: middle;
}

#logo {
   display: block;
   margin: auto;
}

#registerform {
   display: block;
   margin: auto;
}

#category {
  text-align: left;
}

#overall {
  text-align: left;
}

#seperator {
  height: 20px
}

#points {
  text-align: right;
}
